@model RentalKendaraan_071.Models.Customer

@{
    ViewData["Title"] = "Delete";
}

<h2>Hapus Data</h2>

<h3>Apakah anda yakin ingin menghapus data ini?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NamaCustomer)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NamaCustomer)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Nik)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Nik)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Alamat)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Alamat)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.NoHp)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.NoHp)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdGender)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdGender)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdCustomer" />
        <input type="submit" value="Hapus" class="btn btn-default" /> |
        <a asp-action="Index">Kembali</a>
    </form>
</div>
